$breakpoint-tablet: 768px;

.searchContainer {
    padding-top: 21px;

    h1 {
        font: normal normal bold 32px/30px "PT Sans Caption";
        color: #555555;
        margin-bottom: 16px;
    }

    h2 {
        font: normal normal bold 16px/24px PT Sans Caption;
        color: #555555;
        margin-bottom: 8px;
    }

    .inputContainer {
        display: flex;
        justify-content: space-between;
        max-width: 292px;
        height: 30px;
        padding: 4px 16px;
        background: #fff;
        border-radius: 4px;
        margin-bottom: 39px;

        input,
        input:focus {
            border: none;
            flex-grow: 1;
            outline: none;
            padding-right: 10px;

            &::-webkit-input-placeholder {
                font-style: italic;
            }
            &:-moz-placeholder {
                font-style: italic;
            }
            &::-moz-placeholder {
                font-style: italic;
            }
            &:-ms-input-placeholder {
                font-style: italic;
            }
        }

        .searchButton {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .searchContainer {
        padding-top: 23px;

        h1 {
            font-size: 24px !important;
            text-align: center;
            margin: 0;
            margin-bottom: 19px;
        }

        h2 {
            text-align: center !important;
            font-weight: bold !important;
            font-size: 14px;
        }

        .inputContainer {
            max-width: 100%;
            margin-bottom: 32px;

            input {
                padding-right: 5px !important;
            }
        }
    }
}
